  body{
    font-size: 1.2rem;
  }
  .breadcrumb{
    margin-top: 1rem;
  }

  form {
      margin-top: 0.5em;
    }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  /* .column {
    max-width: 100%;
  } */

  .results {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 2em;
  }

  .result {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    border-radius: 0.5em;
    margin-right: 1em;
    margin-top: 1em;

    padding: 1.0em;
    max-width: 500px;
    background-color: #f5f5f5;
  }
  @media (max-width: 600px) {
    .result {     
      margin-left: auto;
      margin-right: auto;
    }
 }

  .input {
    max-width :600px;
  }

  .note {
    font-size: 1em;
  }
  .time {
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  .time.middle{
    font-size: 1.8em;
    font-weight: bold;
  }

  .distances{
    margin-top: 1em;
    display: flex;
  }

  .splits{
    max-width: 180px;
  }
  label{
    width: 60px;
  }
  .control{
    margin-top: 0.5em
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }

  footer{
    text-align:center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #time_input{
    margin-top: 0.5em;
  }
